<% if @message.errors.any? %>
    <div id="error">
      <h2><%= pluralize(@message.errors.count, 'error') %> Error sending this message:</h2>

      <ul>
        <% @messgae.errors.full_messages.each do |err| %>
            <li><%= err %></li>
        <% end %>
      </ul>
    </div>
<% end %>